@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Lobster&family=Open+Sans:ital,wght@1,800&family=Oswald&family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@1,900&display=swap');

.abtimg {
    margin-left: 5%;
    border-radius: 75%;
    overflow: hidden; 
    margin-bottom: 10%;
}

/* Marlybone text flashy homepage.  */
.wrap {
    margin-top: 15%;
    padding: 0.5em;
    margin-bottom: 5%; 
}

.container1 {
    overflow: hidden;
    padding: 2em;
    display: -moz-grid-line;
    margin-left: 20%; 
    margin-bottom: 35%; 
     
    
}

.wrapper {    
font-size: 12em;
transform: translate(-15%, 15%);
font-family: 'Lobster';
line-height: 0.5;
width: 100%;
height: 50vh;
color: transparent;
background-image: linear-gradient(to top right, hsla(246, 52%, 45%, 0.87), #5a99ac, #ce0c8dfd, rgba(32, 187, 97, 0.911));
background-size: 500%;
-webkit-background-clip: text;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
background-position: -200%;
}

.wrapper {
    animation: animated 8s infinite alternate-reverse;
}
@keyframes animated {
    0% {
       background-position: left;
   }
   20% {
       background-position: right;
   }
   40% {
       background-position: left;
   }
   60% {
       background-position: right;
   }
   80% {
       background-position: left;
   }
   100% {
       background-position: right;
   }
}

/* About CSS  */

.git {
   filter: grayscale(100%); 
   padding: 0.5em;
   
}

.lin {
    filter: grayscale(100%);
    padding: 0.5em;
}

.img1 {
    display: flex;
    flex-direction: row;
}

.paragraph {
    margin-right: 15%;
    position: center;
    font-size: 1.2em;
    padding: 1.3rem; 
}

/*  Home page CSS */

.fs {
    font-size: 2.5em;
    text-align: center;
    margin-top: 12%; 
}

.techs {
    margin-top: 10%;
    text-align: center;
    font-size: larger;
}

/* Footer css */

.footer {
    bottom: 0;
    position: fixed;
    background-color: #141418;
    width: 100%;
    z-index: -1;
    line-height: 30px;    
}

.ft {
    text-align: center;
    font-size: 0.8em;
    margin-right: 15%;
    color: white;
}